p{
    color: red; 
    line-height: 150%;
}
.zelena{
    color: rgb(38, 158, 64);
    line-height: 150%;
}
.fialova{
    color:rgb(123, 56, 187);
    line-height: 150%;
}

h1 {
    text-align: center;
}